Get-Content: 
Line |
   2 |  Get-Content -Raw 'requirements.txt'
     |  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Cannot find path 'C:\Users\User\Desktop\Escritório (Cérebro)\requirements.txt' because it does not exist.
